/**
 * Helper classes to add a background color for modal headers
 */

.header-primary {
	color: $white;
	background-color: $blue;
}

.header-success {
	color: $white;
	background-color: $green;
}

.header-warning {
	color: $white;
	background-color: $orange;
}

.modal-container {
	padding: 10px;
}

.cancel-save {
	display: flex;

	> button {
		flex: 1;
	}
}

#quick-view-member {
	font-size: 15px;
}
