// Body
$body-bg: #f5f8fa;

// Navigation Bar Background Color
$navigation-bar-bg-color: #2298f0;

// Colors
$white: #ffffff;
$blue: #2ea2f8;
$light-gray: #7f8fa4;
$black: #354052;
$green: #36af47;
$light-green: #b0edb8;
$orange: #f7981c;
$red: #ff0000;
$dark-gray: #636363;
$light-blue: #86caff;
$light-pink: #FFB6C1;

// Background Colors for Components
$bg-gray: #eff3f6;
$bg-gray-sidebar: #273142;
$bg-gray-tooltip: #353c48;

$bg-gray-disabled-bg: #34aa44;
$bg-gray-disabled-border: #dfe3e9;

$bg-gray-modal-footer: #f0f3f8;

// Base Colors for Gradient
$blue-grad-start: #1991eb;
$blue-grad-end: #2da1f8;

$green-grad-start: #39b54a;
$green-grad-end: #34aa44;