.custm-appli-status-inc {
  color: #e74c3c;
  font-size: 0.9em;
}

#header-text {
  font-size: 1.3em;
  font-weight: 900;
  position: relative;
  top: 35%;
  left: 1.7%;
  color: #364153;
}

.nav {
  margin-left: 20px;
}
