.green {
	background-color: #47b657;
	color: white;
}

.orange {
	background-color: #f5a623;
	color: white;
}

.violet {
	background-color: #bf8fe1;
	color: white;
}

.red {
	background-color: #f86b67;
	color: white;
}

.table {
	border-radius: 5px;
}

.member-name {
	text-decoration: underline;
}

.subdat {
	font-size: 10px;
}
